
/*vista splash*/
.splash-view-mobile {
  width: 50%;
  height: 50%;
  margin-top: 58%;
}

.logo-splash-desktop {
  width: 50%;
  height: 10vh;
  margin-top: 15%;
  margin-left: 23%;
}

/*input checkbox*/
input[type="checkbox"]{
  transform: scale(2);
  padding:10px;
}


/*view login desktop*/
.logo-login > img{
  width: 40%;
}

.login > form {
  height: auto;
  padding: 5%;
  border-radius: 15px;
  margin-top: 10vh;
  background-color: rgb(0,0,255); opacity: 0.8;
}

.login-back {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("../assets/images/login-back-desktop.jpg");
}

.google {
  margin: 2%;
  margin-top: 2%;
}

.google-icon {
  width: 10%;
  margin-top: 5px;
}

.name-login {
  margin-top: 80px;
}

.modal-crea {
  margin-top: 5%;
  margin-bottom: 5%;
}


/*profile desktop*/
.logo-icon {
  width: 28%;
  margin: 1%;
  margin-left:9%;
  border-radius: 15px;
  margin-right: 5%;
}


.insignias {
  border: 2px solid lightblue;
  height: 40vh;
}



.container {
  margin-top: 10vh;
}


/*profile mobile*/
.profile-pic-mobile {
  margin-left: 11%;
  margin-top: 20vh;
}


/*MODAL*/
.modal-content {
  margin-top: 0;
}

.modal-footer {
  margin-top: 2%:
}


/*Nav*/
i {
  margin-right: 50px;
}

 .logo-nav-mobile{
   width: 30%;
  height: 8vh;
  }


/*mapa*/
.map {
  width: 100%;
height: 50vh;
}
