<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:title" 				content="Nenemi Perfil"/>
    <meta name="twitter:description" 	content="Tu circuito en curso"/>
    <meta name="twitter:image" 				content="https://girllollipop.github.io/nenemi/assets/images/logo-nav.png"/>
    <meta name="twitter:site" 				content="@Nenemi Tech"/>
    <meta name="twitter:creator" 			content="@Nenemi Tech"/>
    <meta name="twitter:via" 					content="Nenemi Tech"/>
    <meta name="twitter:card" 				content="photo"/>
    <meta name="twitter:url" 					content="https://girllollipop.github.io/nenemi/views/profile.html"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Perfil</title>
  </head>
    <body class="grey lighten-4">

      <!--menu desplegable-->
        <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Configuración</a></li>
    <li class="divider"></li>
    <li><a href="#!">Cerrar sesión</a></li>
  </ul>
  <!--Menu navegación-->
     <nav class="">
       <div class="nav-wrapper #ab47bc purple lighten-1">
         <a href="#!" class=""> <img class="logo-nav-mobile " src="../assets/images/logo-nav.png" alt=""> </a>
         <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
           <li><a href="profile.html"><i class="material-icons">account_circle</i></a></li>
        <li><a href="menu.html"><i class="material-icons">apps</i></a></li>
        <!--help lanza modal con instructivo-->
        <li><a class=" modal-trigger" href="#modal1"><i class="material-icons">help</i></a></li>

        <li>
        <!--menu desplegable-->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">settings</i></a></li>
         </ul>
         <ul class="side-nav" id="mobile-demo">
           <li><a href="profilr.html">Perfil</a></li>
           <li><a href="menu.html">Circuitos</a></li>
           <li><a href="collapsible.html">Ayuda rápida</a></li>
           <li><a href="mobile.html">Cerrar sesión</a></li>
         </ul>
       </div>
     </nav>


   <!--Perfil se crea dinamicamente desde google-->
   <section class="container">
     <!--foto de perfil se crea dinamicamente-->
     <section class="row">
       <div class="col s3 profile-pic left circle">
        <img width="200px" id="photo" src="" alt="Foto de Perfil">
       </div>
       <div class="">
        <h4 id="name"></h4>
       </div>
         <!--Insignias
       <div class="col s8 responsive-img right insignias">

       </div>
       -->
     </section>
     <!-- Mapa Api-->
     <section class="row">
       <!-- Buttons, Copy this to your Page Article -->
<div class="share-buttons-row">

 <!--Twitter's Button -->
 <div class="share-twitter"></div>
 <!--Facebook's Button -->
 <div class="share-google-plus"></div>
 <!--Linkedin's Button -->
 <!--Facebook Button -->
 <iframe src="https://www.facebook.com/plugins/share_button.php?href=https://girllollipop.github.io/nenemi/views/profile.html#!layout=button&size=small&mobile_iframe=true&width=159&height=20&appId" width="159" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
 

</div>
      <div id="map" class="col s12">
      </div>
        <!--<div onload="findMe()" id="map" >
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15051.132877161433!2d-99.15726207775681!3d19.421770240245745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd1c6f4fcad149f54!2sLaboratoria+Coding!5e0!3m2!1ses-419!2smx!4v1518124935341" frameborder="0" style="border:0" allowfullscreen></iframe>
       </div>-->
     </section>
<!--input add pics-->
     <div class="row">
            <div class="col s12  l12 right">
                   <div class="file-field input-field">
                     <div class="btn">
                       <!-- agregando el boton para subir archivos (imagenes) -->
                       <i class="material-icons dp48">image</i>
                       <input id="upload" type="file" accept="image/*">
                     </div>
                     <div class="file-path-wrapper">
                       <input class="file-path validate" type="text">
                     </div>
                   </div>
                   <div class="input-field write-post">
                     <input placeholder="Publica una actualización de estado" id="textarea1" type="text" class="validate">
                     <label for="textarea1"></label>
                     <!-- agregando boton para postear -->
                     <button id="addPublish" type="button" name="button">Postear</button>
                     <div id="print" class="row">
                       <div class="col s6">
                         <p id="text"></p>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
     </div>

     <!--fotos agregadas por el usuario dinamicamente-->
     <section id="uploadPhoto" class="row">
     </section>

   </section>


   <!--MODAL-->
   <!-- Modal Structure -->
     <div id="modal1" class="modal indigo darken-4">
       <div class="modal-content">
         <img class="img-modal" src="../assets/images/info-modal.png" width="100%" alt="">
       </div>
       <div class="modal-footer indigo darken-4">
         <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat white-text">Comienza! </a>
       </div>
     </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCinGtoi4ad4P0JEDdIqDJ7g5nJegTs8aI"async defer></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script>// Initialize Firebase
     var config = {
       apiKey: "AIzaSyAn8Nq-k-uMFXzuLR4C7Nf36AhX1nJ8_eE",
       authDomain: "ninima-51faf.firebaseapp.com",
       databaseURL: "https://ninima-51faf.firebaseio.com",
       projectId: "ninima-51faf",
       storageBucket: "ninima-51faf.appspot.com",
       messagingSenderId: "927420765565"
      };
      firebase.initializeApp(config);
   </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/profile.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
  </body>
</html>
